<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>消费账单</string>
			<key>image</key>
			<string>58px_58px_xiaofeizhangdan</string>
			<key>girdid</key>
			<string>1000</string>
		</dict>
		<dict>
			<key>name</key>
			<string>销售报表</string>
			<key>image</key>
			<string>58px_58px_xiaoshoubaobiao</string>
			<key>girdid</key>
			<string>1001</string>
		</dict>
		<dict>
			<key>name</key>
			<string>结算</string>
			<key>image</key>
			<string>58px_58px_jiesuan</string>
			<key>girdid</key>
			<string>1002</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>总店信息</string>
			<key>image</key>
			<string>58px_58px_zongdianxinxi-</string>
			<key>girdid</key>
			<string>1003</string>
		</dict>
		<dict>
			<key>name</key>
			<string>卡类信息</string>
			<key>image</key>
			<string>58px_58px_kaleixinxi</string>
			<key>girdid</key>
			<string>1004</string>
		</dict>
		<dict>
			<key>name</key>
			<string>产品信息</string>
			<key>image</key>
			<string>58px_58px_chanpxinxi</string>
			<key>girdid</key>
			<string>1005</string>
		</dict>
		<dict>
			<key>name</key>
			<string>套餐管理</string>
			<key>image</key>
			<string>58px_58px_taocanguanli</string>
			<key>girdid</key>
			<string>1006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>岗位权限</string>
			<key>image</key>
			<string>58px_58px_gangweiquanxian</string>
			<key>girdid</key>
			<string>1007</string>
		</dict>
		<dict>
			<key>name</key>
			<string>员工</string>
			<key>image</key>
			<string>58px_58px_yuangong</string>
			<key>girdid</key>
			<string>1008</string>
		</dict>
		<dict>
			<key>name</key>
			<string>会员管理</string>
			<key>image</key>
			<string>58px_58px_huiyuanguanli</string>
			<key>girdid</key>
			<string>1009</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拍照确认</string>
			<key>image</key>
			<string>58px_58px_paizhaoqueren</string>
			<key>girdid</key>
			<string>1010</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>优惠券</string>
			<key>image</key>
			<string>58px_58px_youhuiquan</string>
			<key>girdid</key>
			<string>1011</string>
		</dict>
		<dict>
			<key>name</key>
			<string>红包</string>
			<key>image</key>
			<string>58px_58px_hongbao</string>
			<key>girdid</key>
			<string>1012</string>
		</dict>
		<dict>
			<key>image</key>
			<string>58px_58px_zhuanpan</string>
			<key>name</key>
			<string>转盘</string>
			<key>girdid</key>
			<string>1013</string>
		</dict>
		<dict>
			<key>name</key>
			<string>报名</string>
			<key>image</key>
			<string>58px_58px_baoming</string>
			<key>girdid</key>
			<string>1014</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>推送消息</string>
			<key>image</key>
			<string>58px_58px_tuisongxiaoxi</string>
			<key>girdid</key>
			<string>1015</string>
		</dict>
		<dict>
			<key>name</key>
			<string>用户反馈</string>
			<key>image</key>
			<string>58px_58px_yonghufankui</string>
			<key>girdid</key>
			<string>1016</string>
		</dict>
	</array>
</array>
</plist>
